<h2>Übersicht Demo-Komponenten</h2>

<app-time></app-time>

<h2>card component</h2>
<app-card [value]="'Q'" [suit]="'hearts'"></app-card>
<app-card [value]="'K'" [suit]="'spades'"></app-card>
<app-card [value]="'B'" [suit]="'blabla'"></app-card>
<hr>

<app-furniture [someFurniture]="myCouch"></app-furniture>
<app-furniture [someFurniture]="myUCouch"></app-furniture>

<h2>roman numbers</h2>
<app-roman-number *ngFor="let num of arabNumbers"
[zahl]="num">
</app-roman-number>
<hr>

<app-pipes></app-pipes>