<h2>DEMOS MODULE</h2>

<app-time></app-time>

<h2>card component</h2>
<app-card [value]="'Q'" [suit]="'hearts'"></app-card>
<app-card [value]="'K'" [suit]="'spades'"></app-card>
<app-card [value]="'B'" [suit]="'blabla'"></app-card>
<hr>

<app-furniture [someFurniture]="myCouch"></app-furniture>
<app-furniture [someFurniture]="myUCouch"></app-furniture>

<h2>roman numbers</h2>
<app-roman-number *ngFor="let num of arabNumbers" [zahl]="num">
</app-roman-number>
<hr>

<app-pipes></app-pipes>

<app-events></app-events>

<h2>outputs component</h2>
<!-- <input ngModel type="number" placeholder="seconds" max="15" #inpSeconds="ngModel"> 
Wenn die Methode doch unten bleibt, dann löst ngModel das Problem mit der vorzeitigen Initialisierung von seconds -->
<input type="number" placeholder="seconds" max="15" #inpSeconds>
<button (click)="clickHandler(+inpSeconds.value)">START</button>
<app-outputs [seconds]="scnds" (startEvent)="startHandler()" (tickEvent)="tickHandler($event)" (endEvent)="endHandler($event)">
</app-outputs>
<p>startMessage: {{ startMessage}}</p>
<p>timerMessage: {{timerMessage}}</p>
<p>endMessage: {{endMessage}}</p>
<p>endMessageFromChild: {{endMessageFromChild}}</p>
<hr>

<app-material></app-material>