<h2>pipes component</h2>

<pre>date:'shortTime'</pre>
<p>{{date | date:'shortTime' }}</p>

<pre>date:'dd/MM/yyyy'</pre>
<p>{{date | date:'dd/MM/yyyy' }}</p>

<pre>date:'MM/dd/yyyy'</pre>
<p>{{date | date:'MM/dd/yyyy' }}</p>

<pre>date:'dd MMMM yyyy'</pre>
<p>{{date | date:'dd MMMM yyyy' }}</p>

<pre>date:'EEEE, dd MMMM yyyy'</pre>
<p>{{date | date:'EEEE, dd MMMM yyyy' }}</p>

<pre>date:'EEEE, dd MMMM yyyy'</pre>
<p>{{date | date:'EEEE, dd MMMM yyyy, HH:mm' }}</p>

<pre>date:'fullDate'</pre>
<p>{{date | date:'fullDate' }}</p>

<pre>date:'fullDate'</pre>
<p>{{date | date:'fullDate':'+0':'de-DE'}}</p>
