

<app-time></app-time>
<h2>card demo</h2>
<app-card [value]="'K'" [suit]="'hearts'"></app-card>
<app-card [value]="'D'" [suit]="'spades'"></app-card>
<app-card [value]="'B'" [suit]="'diamonds'"></app-card>

<hr>
<app-furniture [someFurniture]="myCouch" ></app-furniture>
<app-furniture [someFurniture]="myUCouch" ></app-furniture>
<hr>

<h2>roman numbers</h2>

<app-roman-number  *ngFor="let num of arabNumbers" [zahl]="num"></app-roman-number>

<hr>

<h2>Pipes</h2>
<app-pipes></app-pipes>

<h2>Events</h2>
<app-events></app-events>

<h2>Outputs</h2>
<label for="seconds">Eingabe der Timer Sekunden:  </label>
<input ngModel #inpSeconds="ngModel" type="number" name="seconds" id="secs" placeholder="Sekunden" max=30>
<app-outputs [seconds]=inpSeconds.value (startEvent)="startHandler()" (tickEvent)="tickHandler($event)" (endeEvent)="endHandler($event)" ></app-outputs>

<hr>
<h2>ngForm</h2>
<app-ngform></app-ngform>

<div>
  <p id="pId1">{{startMessage}}</p>
  <p id="pId2">{{timerMessage}}</p>
  <p id="pId3">{{endMessage}}</p>
  <p id="pId4">{{endMessagFromChild}}</p>
</div>
