<h2>pipes component</h2>

<pre>
date | 'shortTime'
</pre>
<p>{{ date | date:'shortTime' }}</p>

<pre>
date | 'fullDate'
</pre>
<p>{{ date | date:'fullDate' }}</p>

<pre>
date | date:'dd/MM/yy'
MM steht für Monat, mm für Minuten
</pre>
<p>{{ date | date:'dd/MM/yy' }}</p>

<pre>
date | date:'MM/dd/yy'
2 M für Zahldarstellung
</pre>
<p>{{ date | date:'MM/dd/yy' }}</p>

<pre>
date | date:'MMM/dd/yy'
MMM für Abkürzung, per Default ist Englisch
</pre>
<p>{{ date | date:'MMM/dd/yy' }}</p>

<pre>
date | date:'MMMM/dd/yy'
MMMM für volles Wort
</pre>
<p>{{ date | date:'MMMM/dd/yy' }}</p>
<hr>